<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>yunda</string>
	<string>yuantong</string>
	<string>huitong</string>
	<string>shunfeng</string>
	<string>tiantian</string>
	<string>zhimakaimen</string>
	<string>zhongtong</string>
	<string>zhaijisong</string>
	<string>youzhengguonei</string>
	<string>yinjiesudi</string>
	<string>yafengsudi</string>
	<string>zhongxinda</string>
</array>
</plist>
