<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0.png</string>
	<string>1.png</string>
	<string>2.pn</string>
	<string>3.png</string>
	<string>4.png</string>
	<string>5.png</string>
	<string>6.png</string>
	<string>7.png</string>
	<string>8.png</string>
	<string>9.png</string>
	<string>10.png</string>
	<string>11.png</string>
</array>
</plist>
